@import 'styles/variables';
@import 'styles/mixins';

.detail-wrapper {
  display: flex;
}

.detail-descr {
  padding: 10px;
  margin: 10px;
  border: 1px solid $main-color;
}

.details-title {
  text-align: center;
  font-size: 30px;
}

.details-annotation {
  @include font;
}

.details-info {
  p {
  @include font;
  }
}

.show-offer {
  background-color: $main-color;
  width: 200px;
  height: 50px;
}

.detail-poster {
  width: 200px;
  height: 300px;
}
