.details {
  width: 980px;
  margin: 0 auto;
  color: #794be6;
}

.selected {
  color: #ff0000;
}

li {
  list-style: none;
}

.tab-title {
  width: 100px;
  height: 40px;
  border: 1px solid #000000;
  margin-top: 5px;
}
